main{
    position: relative;
    display: flex;
    justify-content: space-between;
    .open-chanel-help-block{
        position: fixed;
        bottom: 1rem;
        right: 1rem;
    }
    .sec-1{
        flex: 3;
        //border: 1px solid blue;
        padding: 0.5rem;
        margin-right: 0.2rem;
    }
}
