nav{
    display: flex;
    flex-direction: column;
    height: 100%;
    .b-list{
        flex: 1;
        //border: 1px solid green;
        ul{
            list-style: none;
        }
        .sub-menu {
            padding-left: 1rem;
            li{
                padding-top: 0.5rem;
            }
        }
    }
    footer{
        margin-top: 0.2rem;
        //border: 1px solid blue;
    }
}