nav{
    display: flex;
    flex-direction: column;
    height: 100%;
    .b-list{
        flex: 1;
        //border: 1px solid green;
        ul{
            list-style: none;
        }
        .sub-menu {
            padding-left: 1rem;
            li{
                padding: 0.5rem 0 0.5rem 0.5rem;
                margin-top: 0.2rem;
                margin-bottom: 0.2rem;
                border: 1px solid #5a656f;
                outline: 0;
                &:hover{
                    cursor: pointer;
                    background-color: #5a656f;
                }
                
            }
            .active{
                background-color: #5a656f;
                border-right: 0.2rem solid white;
            }
        }
    }
    footer{
        margin-top: 0.2rem;
        //border: 1px solid blue;
    }
}