h1{
    font-size: 1.2rem;
    font-weight: 600;

    span{
        display: block;
        text-align: center;
    }
    span:last-child{
        font-size: 1rem;
        font-weight: normal;
    }
}